@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  margin: 0;
  font-family: Lato, sans-serif;
}

.header {
  background: black;
  height: 74px;
  padding: 18px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) {
  .header {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    width: 1140px;
  }
}

.userIcon, .cartIconWrap {
  display: none;
}

@media (min-width: 768px) {
  .userIcon, .cartIconWrap {
    display: inline;
  }
}

.userIcon {
  margin-left: 25px;
  margin-right: 42px;
}

.searchIcon {
  margin-left: 41px;
}

.cartIconWrap {
  position: relative;
}

.cartIconWrap span {
  display: inline-block;
  width: 19px;
  height: 19px;
  color: white;
  background: #f16d7f;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  right: -8px;
  top: -19px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 19px;
}

.featured {
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .featured {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 129px;
  }
}

@media (min-width: 1600px) {
  .featured {
    padding-left: 0;
    padding-right: 0;
  }
}

.featured h2 {
  margin-top: 0;
  margin-bottom: 3px;
  text-align: center;
  color: black;
}

.featuredTitle {
  text-align: center;
  color: #9f9f9f;
  margin-bottom: 64px;
}

.featuredItems {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  row-gap: 16px;
  margin-bottom: 64px;
}

@media (min-width: 640px) {
  .featuredItems {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 18px;
    -webkit-column-gap: 16px;
            column-gap: 16px;
  }
}

@media (min-width: 1000px) {
  .featuredItems {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

.featuredItem img {
  width: 100%;
  display: block;
}

.featuredImgWrap {
  position: relative;
}

.featuredItem:hover .featuredImgDark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featuredImgDark {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(58, 56, 56, 0.86);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuredImgDark button {
  background: none;
  border: 1px solid white;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 14px;
  font-size: 14px;
  font-family: inherit;
}

.featuredImgDark button img {
  width: 26px;
  height: 24px;
  margin-right: 11px;
}

.featuredItem {
  background: #f8f8f8;
}

.featuredItem:last-child {
  display: none;
}

@media (min-width: 1000px) {
  .featuredItem:last-child {
    display: block;
  }
}

.featuredData {
  padding: 23px 16px 20px;
}

.featuredName {
  font-size: 13px;
  line-height: 16px;
  color: black;
}

.featureText {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  margin-top: 12px;
  margin-bottom: 18px;
  color: #5d5d5d;
}

.featuredPrice {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.pagination {
  width: 284px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  margin-top: 48px;
  padding: 13px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3px;
}

.pagination a {
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  color: #c4c4c4;
}

.pagination a:hover {
  color: #ef5b70;
}

.services {
  background: #222224;
  padding-top: 48px;
  padding-bottom: 81px;
  padding-left: 13px;
  padding-right: 13px;
}

@media (min-width: 1200px) {
  .services {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.services .container {
  display: -ms-grid;
  display: grid;
  gap: 46px;
}

@media (min-width: 1200px) {
  .services .container {
    display: -ms-grid;
    display: grid;
    gap: 46px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.serviceUnit {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesTitle,
.servicesText {
  color: #FBFBFB;
}

.servicesTitle {
  font-size: 19.96px;
  line-height: 24px;
  margin-top: 27px;
  margin-bottom: 15px;
}

.servicesText {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  max-width: 340px;
}

.subscribe {
  background: url(img/subscribe.jpg) no-repeat;
  background-size: cover;
  padding-top: 64px;
  padding-bottom: 109px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 96px;
}

@media (min-width: 768px) {
  .subscribe {
    margin-top: 128px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    padding-top: 97px;
    padding-bottom: 126px;
  }
}

@media (min-width: 1600px) {
  .subscribe {
    margin-top: 119px;
  }
}

@media (min-width: 1200px) {
  .subscribe .container {
    margin: 0 auto;
    width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.subscribeLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribeUserText {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #222224;
  max-width: 330px;
}

.subscribeRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 65px;
}

@media (min-width: 1200px) {
  .subscribeRight {
    margin-top: initial;
  }
}

.subscribeTitle {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
}

.subscribeTitle,
.subscribeText {
  max-width: 271px;
  text-align: center;
}

.subscribeText {
  font-size: 14px;
  color: #222224;
  margin-bottom: 22px;
}

.subscribeForm {
  height: 47px;
  min-width: 280px;
}

.subscribeForm input {
  height: inherit;
  background: #e1e1e1;
  border: none;
  padding: 6px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top-left-radius: 28px;
  border-bottom-left-radius: 28px;
  float: left;
  width: 185px;
}

.subscribeForm input::-webkit-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribeForm input::-moz-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribeForm input:-ms-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribeForm input:-moz-input-placeholder {
  color: #222224;
  font-family: inherit;
  opacity: 0.67;
}

.subscribeForm button {
  height: inherit;
  border: none;
  color: white;
  background: #F16D7F;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  padding: 0 17px;
}

.footer {
  background: #222224;
  padding: 43px 20px 10px;
}

@media (min-width: 768px) {
  .footer {
    padding: 24px 32px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer a {
  color: black;
  background: white;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.footer a:hover {
  background: #F16D7F;
  color: white;
}

.footer a:not(:last-child) {
  margin-right: 7px;
}

.footerLeft {
  color: white;
}

@media (max-width: 767px) {
  .footerLeft {
    margin-top: 23px;
    margin-bottom: 24px;
  }
}

.newArrivals {
  background: #F8F3F4;
  min-height: 148px;
}

.newArrivals h1 {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.newArrivals .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: inherit;
}

@media (min-width: 768px) {
  .newArrivals .container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .newArrivals .container {
    padding: 0 16px;
  }
}

.registration {
  margin-top: 40px;
}

@media (max-width: 767px) {
  .registration {
    padding: 0 8px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration {
    padding: 0 16px;
  }
}

@media (min-width: 768px) {
  .registration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .registration .registrationLeft {
    margin-right: 22px;
  }
}

@media (min-width: 1600px) {
  .registration .registrationLeft {
    margin-right: 128px;
  }
}

.registration .registrationLeft .registrationNameLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .registrationLeft .regisrationInput {
  border: 1px solid #a4a4a4;
  height: 44px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: 19px;
}

.registration .registrationLeft .registrationGender {
  margin-top: 31px;
  margin-bottom: 33px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.registration .registrationLeft .registrationGender input {
  margin-right: 10px;
}

.registration .registrationLeft .registrationGender input:not(:first-of-type) {
  margin-left: 20px;
}

.registration .registrationLeft .registrationLoginLabel {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration .registrationLeft .registrationText {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  margin-top: 15px;
  margin-bottom: 39px;
}

.registration .registrationLeft .registrationButton {
  height: 50px;
  width: 167px;
  background: #f16d7f;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
}

.registration .registrationLeft .registrationButton img {
  margin-left: 20px;
}

.registration .registrationRight {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

@media (max-width: 767px) {
  .registration .registrationRight {
    margin-top: 40px;
  }
}

@media (min-width: 1600px) {
  .registration .registrationRight {
    font-size: 24px;
    line-height: 29px;
  }
}

.registration .registrationRight .registrationRightTitle {
  margin-bottom: 30px;
}

.registration .registrationRight .registrationRightText {
  margin-bottom: 22px;
}

.registration .registrationRight .registrationRightList {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.registration .registrationRight .registrationRightList li {
  background: url(img/registrationMarker.png) no-repeat;
  padding-left: 42px;
}

.registration .registrationRight .registrationRightList li:not(:first-child) {
  margin-top: 16px;
}

.cart {
  padding: 0 9px;
  margin-top: 39px;
}

@media (min-width: 768px) {
  .cart {
    padding: 0 17px;
  }
}

@media (min-width: 1600px) {
  .cart {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cart .cartLeft {
  margin-bottom: 30px;
}

.cart .cartLeft .cartLeftButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeft .cartLeftButtons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cart .cartLeft .cartLeftButtons button {
  width: 175px;
  height: 33px;
  background: white;
  border: 1px solid #a4a4a4, 100%;
  font-size: 12px;
  line-height: 14px;
  color: #575757;
  font-family: inherit;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartLeft .cartLeftButtons button {
    margin-left: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartLeft .cartLeftButtons button {
    width: 225px;
    height: 50px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
  }
}

.cart .cartUnit {
  background: white;
  -webkit-filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(8px 8px 21px rgba(0, 0, 0, 0.13));
  position: relative;
  margin-bottom: 30px;
}

@media (min-width: 1600px) {
  .cart .cartUnit {
    width: 652px;
  }
}

.cart .cartUnit::before {
  width: 10px;
  height: 11px;
  content: '';
  display: block;
  position: absolute;
  right: 12px;
  top: 17px;
  background: url(img/closeIcon.svg) no-repeat;
  background-size: 100%;
}

@media (min-width: 768px) {
  .cart .cartUnit::before {
    width: 18px;
    height: 19px;
    background-size: contain;
  }
}

.cart .cartUnit .cartUnitInside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cartUnit .cartImg {
  width: 143px;
  height: 188px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartImg {
    width: 262px;
    height: 306px;
  }
}

.cart .cartUnit .cartProduct {
  margin: 13px 17px;
}

.cart .cartUnit .cartProductName {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-bottom: 25px;
}

@media (max-width: 374px) {
  .cart .cartUnit .cartProductName {
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductName {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 42px;
  }
}

.cart .cartUnit .cartProductPrice {
  font-size: 14px;
  line-height: 17px;
  color: #575757;
  margin-bottom: 4px;
}

.cart .cartUnit .cartProductPrice span {
  color: #EF5B70;
  margin-left: 3px;
}

.cart .cartUnit .cartProductColor {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 4px;
}

.cart .cartUnit .cartProductSize,
.cart .cartUnit .cartProductQty {
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductPrice,
  .cart .cartUnit .cartProductColor,
  .cart .cartUnit .cartProductSize,
  .cart .cartUnit .cartProductQty {
    font-size: 22px;
    line-height: 26px;
    color: #575757;
    margin-bottom: 6px;
  }
}

.cart .cartUnit .cartProductQty input {
  width: 24px;
  height: 15px;
  border: 1px solid #EAEAEA;
  margin-left: 30px;
  text-align: center;
  color: #656565;
  font-size: 10px;
  line-height: 12px;
}

@media (min-width: 768px) {
  .cart .cartUnit .cartProductQty input {
    width: 44px;
    height: 25px;
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1600px) {
  .cart .cartRight {
    width: 360px;
  }
}

@media (max-width: 374px) {
  .cart .cartRight {
    padding: 0 9px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.cart .cartRight .cartRightHeader {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

@media (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1599px) {
  .cart .cartRight .cartRightForm {
    margin-right: 15px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.cart .cartRight .cartRightForm input {
  display: block;
  height: 45px;
  padding: 13px 17px;
  font-family: inherit;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #a4a4a4;
  width: 100%;
}

.cart .cartRight .cartRightForm input:not(:first-child) {
  margin-top: 20px;
}

.cart .cartRight .cartRightForm button {
  margin-top: 23px;
  border: 1px solid #A4A4A4;
  font-family: inherit;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  width: 101px;
  height: 35px;
  background: white;
}

.cart .cartRight .cartTotal {
  background: #F5F3F3;
  height: 214px;
  padding: 39px 43px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* @media (min-width: 375px) {
               padding: 39px 43px 42px;
           }*/
}

@media (max-width: 767px) {
  .cart .cartRight .cartTotal {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  .cart .cartRight .cartTotal {
    margin-top: 57px;
  }
}

.cart .cartRight .cartTotal .cartSubtotal,
.cart .cartRight .cartTotal .cartGrandtotal {
  text-align: right;
}

.cart .cartRight .cartTotal .cartSubtotal {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
}

.cart .cartRight .cartTotal .cartSubtotal span {
  margin-left: 20px;
}

.cart .cartRight .cartTotal .cartGrandtotal {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin-top: 12px;
  margin-bottom: 21px;
}

.cart .cartRight .cartTotal .cartGrandtotal span {
  margin-left: 20px;
  font-weight: bold;
  color: #f16d7f;
}

.cart .cartRight .cartTotal hr {
  margin-top: 0;
  margin-bottom: 17px;
  background: #e2e2e2;
  height: 1px;
  border: none;
}

.cart .cartRight .cartTotal button {
  background: #f16d7f;
  width: 100%;
  border: none;
  height: 50px;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

@media (min-width: 375px) {
  .cart .cartRight .cartTotal button {
    width: 273px;
  }
}

.filters {
  margin-top: 24px;
  margin-bottom: 32px;
}

@media (min-width: 1600px) {
  .filters {
    margin-top: 51px;
    margin-bottom: 64px;
  }
}

.filters .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .filters .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1600px) {
  .filters .container {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.filtersRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #6f6e6e;
}

@media (min-width: 1600px) {
  .filtersRight {
    font-size: 14px;
    line-height: 17px;
    margin-left: 320px;
  }
}

.filtersRight img {
  position: relative;
  bottom: 2px;
  margin-left: 9px;
}

.filtersRight > div:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 375px) {
  .filtersRight > div:not(:last-child) {
    margin-right: 24px;
  }
}

.filtersLeft .filterLabel {
  display: none;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .filtersLeft .filterLabel {
    display: inline;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
}

.filtersLeft .filterIcon, .filtersLeft .filterIcon-hover {
  width: 37px;
  height: 25px;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .filtersLeft .filterIcon, .filtersLeft .filterIcon-hover {
    width: 15px;
    height: 10px;
    margin-left: 11px;
  }
}

.filtersLeft {
  position: relative;
}

.filtersLeft:hover .filterLabel,
.filtersLeft:hover .filterIcon,
.filtersLeft:hover .filterIcon-hover {
  left: 16px;
  top: 13px;
}

.filterIcon-hover {
  display: none;
}

.filtersLeft:hover .filterLabel {
  color: #EF5B70;
}

.filtersLeft:hover .filterIcon {
  display: none;
}

.filtersLeft:hover .filterIcon-hover {
  display: inline;
}

.filterPopup {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 531px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 46px 16px 16px 16px;
  z-index: 1;
  overflow-y: auto;
}

.filterCategoryHeader {
  font-size: 14px;
  line-height: 37px;
  color: #EF5B70;
  padding-left: 11px;
  min-height: 37px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;
}

.filterCategoryHeader:before {
  content: '';
  width: 5px;
  min-height: inherit;
  background: #EF5B70;
  position: absolute;
  left: 0;
  top: 1px;
}

.filterLinks {
  display: none;
}

.filterCategory:hover .filterLinks {
  display: block;
}

.filtersLeft:hover .filterPopup {
  display: block;
}

.filterCategory:not(:last-child) {
  margin-bottom: 24px;
}

.filterCategory a {
  display: block;
  text-decoration: none;
  padding-left: 34px;
  padding-right: 16px;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.filterCategory a:not(:last-child) {
  margin-bottom: 11px;
}

.filterSizeWrap {
  cursor: pointer;
}

.filterSize {
  position: relative;
}

.filterSizes {
  position: absolute;
  left: 0;
  top: 25px;
  width: 79px;
  height: 103px;
  background: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 7px 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #6F6E6E;
  display: none;
}

.filterSize:hover .filterSizes {
  display: inline;
}

.filterSizes > div:not(:last-child) {
  margin-bottom: 4px;
}

.slider {
  min-height: 624px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background: #f7f7f7;
  position: relative;
}

@media (min-width: 1600px) {
  .slider {
    min-height: 777px;
  }
}

.slider .sliderImage {
  max-width: 100%;
  margin-top: 85px;
  margin-bottom: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .slider .sliderImage {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1600px) {
  .slider .sliderImage {
    margin-top: 11px;
    margin-bottom: 11px;
  }
}

.slider .sliderLeft, .slider .sliderRight {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: calc(50% - 47px / 2);
}

.slider .sliderLeft {
  left: 0;
  background-image: url("img/leftArrow.svg");
}

.slider .sliderLeft:hover {
  background-image: url("img/leftArrowHover.svg");
}

.slider .sliderRight {
  right: 0;
  background-image: url("img/rightArrow.svg");
}

.slider .sliderRight:hover {
  background-image: url("img/rightArrowHover.svg");
}

.product {
  padding: 64px 24px;
  border: 1px solid #eaeaea;
}

@media (min-width: 1600px) {
  .product {
    margin-top: -64px;
    position: relative;
    background: white;
    padding-right: 0px;
    padding-left: 0px;
  }
}

.product .productCollection {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F16D7F;
  margin-top: 0px;
  margin-bottom: 12px;
}

.product .productLinePink {
  height: 3px;
  width: 63px;
  background-color: #ef5b70;
  margin: 0px auto 12px auto;
}

.product .productTitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  text-align: center;
  margin-bottom: 32px;
}

.product .productText {
  font-weight: 300;
  font-size: 14px;
  line-height: 143%;
  text-align: center;
  color: #5e5e5e;
  margin-bottom: 32px;
  max-width: 326px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .product .productText {
    max-width: 555px;
  }
}

.product .productPrice {
  font-weight: 300;
  font-size: 24px;
  line-height: 130%;
  color: #ef5b70;
  text-align: center;
  margin-bottom: 32px;
}

.product .productLineGrey {
  height: 1px;
  width: 175px;
  background-color: #eaeaea;
  margin: 0px auto 49px auto;
}

@media (min-width: 768px) {
  .product .productLineGrey {
    height: 1px;
    width: 642px;
  }
}

.product .productOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 286px;
  max-width: 373px;
  margin: 0px auto 64px auto;
  font-size: 10px;
  line-height: 12px;
  color: #6f6e6e;
}

.product .productOptions img {
  margin-left: 3px;
}

@media (min-width: 375px) {
  .product .productOptions img {
    margin-left: 10px;
  }
}

.product button {
  background: none;
  border: 1px solid #ff6a6a;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ff6a6a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 24px;
  width: 212px;
  height: 48px;
  margin: 0px auto;
}

.product button img {
  margin-right: 23px;
}

.product .upper {
  text-transform: uppercase;
}
/*# sourceMappingURL=style-registration.css.map */